
body, h1, h2, h3, h4, h5, h6, hr, p,
blockquote, 
dl, dt, dd, ul, ol, li,
pre, 
form, fieldset, legend, button, input, textarea, 
th, td, 
img/* img elements 图片元素 */{
border:medium none;
margin: 0;
padding: 0;
}

body,button, input, select, textarea {
font: 12px/1.5 '宋体',tahoma, Srial, helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
em{font-style:normal;}

ul, ol { list-style: none; }

a { text-decoration: none; color:#000;}
a:hover { text-decoration: underline; color:#3363a7; }

img{ border:0px;}

table { border-collapse: collapse; border-spacing: 0; }


.clear{
	height:0px;
	line-height:0px;
	font-size:0px;
	clear:both;
	}

body{ background:#0a76b0}
#message-box{ height:30px; width:300px; background:#f81900; position:absolute; right:0px; line-height:30px; text-align:center; display:none} 
#wrap{ width:960px; margin:0 auto; background:url(login-bg.gif); height:613px;}
#header{ height:170px;}
#content-wrap{ width:593px; height:357px; background:url(login-bg.png); margin:0 auto;}
.content{ width:210px; height:237px; margin:0 auto;}
.space{ height:103px;}
.login-btn{ width:68px; height:28px; background:url(login-btn.gif) -6px -6px;}
.login-btn:hover{ background-position:-6px -49px;}
.yzm-box{ width:150px; height:50px; background:#999; position:relative; top:-80px; left:53px; display:none; background:url(yzm.gif)}
.field{ height:50px;}
.field label{ color:#dbf2ff}
.btn{text-align:center;}
.field input{ background:url(login-input.gif); width:159px; height:29px; line-height:29px; text-indent:35px; overflow:hidden; color:#075587}
.field .password{ background-position:0 -29px;}
.field .captcha{ background-position:0 -58px;}
